$break-small: 768px;
$break-medium: 992px;
$break-large: 1200px;

.div-toolbar {
    width: 100%;
    height: 5%;
}

.div-main {
    height: 95%;
}

.div-container {
    width: 50%;

    display: block;
    float: left;

    @media screen and (max-width: $break-medium) {
        width: 100%;
        height: 50%;

        float: none;
    }
}


body {
    margin: 0;
}

textarea {
    width: 100%;
    height: 100%;

    overflow: auto;
    resize: none;
}
